<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Intune | Login</title>
        <meta name="description" content="testing for now">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/intune/public/css/style.css" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="http://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap" rel="stylesheet">
        <script src="http://kit.fontawesome.com/32ab55e3e1.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="head_container">
            <div class="site_title">
                <h1 class="header_text">intune</h1>
            </div>
        </div>

        <section class="box">
            <div class="form">
                <h2>Login</h2>
                <form id="login_form" action="/intune/login" method="POST">
                    <input type="text" id="username_input" name="username" class="input_field" placeholder="Username" />
                    <input type="password" id="password_input" name="password" class="input_field" placeholder="Password" />
                    <input type="submit" class="btn" value="Login" />
                </form>
            </div>
            <a href="/intune/register"><button class="btn">New User</button></a>
            <p id="login_error" class="error_text">Incorrect username or password</p>
        </section>
        
        <div class="footer">
            <p>&copy; intune 2022</p>
        </div>
        
        <script src="js/login_script.js"></script>
    </body>
</html>