<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>test</title>
        <meta name="description" content="testing for now">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://raybles.github.io/intuneproject/public/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="head_container">
            <div class="site_title">
                <h1>intune</h1>
            </div>
        </div>

        <section class="box">
            <div class="form">
                <h2 class="header_text">Sign Up</h2>
                <form action="/intune/register" method="POST">
                    <input type="text" name="username" id="username_input" class="input_field" placeholder="Username" required/>
                    <input type="email" name="email" id="email_input" class="input_field" placeholder="Email address" required/>
                    <input type="password" name="password" id="password_input" class="input_field" placeholder="Password" required/>
                    <input type="password" name="password_conf" id="password_conf" class="input_field" placeholder="Repeat Password" required/>
                    <input type="submit" class="btn" value="Sign Up">
                </form>
                <p id="email_error" class="error_text">Email address already in use.</p>
                <p id="username_error" class="error_text">Username already in use.</p>
                <p id="symbols_error" class="error_text">Please refrain from using symbols in usernames and passwords</p>
                <p id="password_error" class="error_text">Passwords do not match</p>
            </div>
        </section>
        
        <div class="footer">
            <p>&copy; intune 2022</p>
        </div>

        <script src="https://raybles.github.io/intuneproject/public/js/register_script.js"></script>
        
    </body>
</html>