<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>test</title>
        <meta name="description" content="testing for now">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://raybles.github.io/intuneproject/public/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/32ab55e3e1.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="head_container">
            <div class="site_title">
                <h1>intune</h1>
            </div>
            <div class="link_box">
                <i id="menu_icon" class="fa-solid fa-bars"></i>
            </div>
        </div>

        <ul id="nav">
            <a href="/intune/rate"><li class="nav_link">Rate Songs</li></a>
            <a href="/intune/chart"><li class="nav_link">View Charts</li></a>
            <a href="/intune/upload"><li class="nav_link">Upload a Song</li></a>
            <a href="/intune/profile"><li class="nav_link">My Profile</li></a>
            <a href="/intune/logout"><li class="nav_link">Logout</li></a>
        </ul>

        <section class="box">
            <div class="form">
                <h2>Upload a Track</h2>
                <form id="upload_form" action="/intune/upload" method="POST" enctype="multipart/form-data">
                    <input type="text" name="track_name" id="track_name_input" class="input_field" placeholder="Track Name" required />
                    <input type="text" name="artist_name" id="artist_input" class="input_field" placeholder="Artist Name" required />
                    <input type="text" name="album_name" id="album_input" class="input_field" placeholder="Album Name" required />
                    <input type="text" name="track_year" id="year_input" class="input_field" placeholder="Release Year" required />
                    <label for="album_artwork">Artwork:</label>
                    <input type="file" name="album_artwork" id="artwork_input" required />
                    <label for="track">Track File:</label>
                    <input type="file" name="track" id="track" required />
                    <input type="submit" class="btn" value="Submit">
                </form>
                   <a href="/intune"><button class="btn">Home</button></a>
                <p id="exist_error" class="error_text">Track already exists</p>
                <p id="success_prompt" class="error_text">Track uploaded successfully!</p>
                
            </div>
        </section>

        <div class="footer">
            <p>&copy; intune 2022</p>
        </div>
        
        <script src="https://raybles.github.io/intuneproject/public/js/nav.js"></script>
        <script src="https://raybles.github.io/intuneproject/public/js/upload_script.js"></script>
    </body>
</html>